<p style="color: green"><%= notice %></p>

<%= render @pair %>

<div>
  <%= link_to "Edit this pair", edit_pair_path(@pair) %> |
  <%= link_to "Back to pairs", pairs_path %>

  <%= button_to "Destroy this pair", @pair, method: :delete %>
</div>
